input[type=radio] {
	display: none;
}

input[type=radio] + label span {
	display: inline-block;
	position: relative;
	bottom: 13.5rem;
	left: 19rem;
	width: 3rem;
	height: 3.3rem;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	background: url('../Assets/filter_button.svg') no-repeat;
	background-size: 100%;
	z-index: 2;
}

input[type=radio]:checked + label span {
	background: url('../Assets/filter_button_active.svg') no-repeat;
}

.button {
	background-image: url('../Assets/button.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 3rem;
	width: 11.5rem;
	position: absolute;
	z-index: 2;
	bottom: 5rem;
	left: 18rem;
	cursor: pointer;
}
.f-button {
	width: 2rem;
	position: relative;
	left: 17rem;
	bottom: 13rem;
	z-index: 3;
}
.des {
	position: relative;
	width: 1.4rem;
	left: 18rem;
	margin-left: 2rem;
	bottom: 16rem;
}
.alpha {
	width: 0.9rem;
}
@media only screen and (min-width: 580px) {
	input[type=radio] + label span {
		width: 3.4rem;
		height: 3.6rem;
		left: 19.5rem;
		bottom: 14rem;
	}
	.f-button {
		width: 3.5rem;
		bottom: 14rem;
	}
	.button {
		width: 12.5rem;
		left: 18.5rem;
	}
	.des {
		width: 2rem;
		left: 18.5rem;
		margin-left: 2rem;
		bottom: 17.2rem;
	}
	.alpha {
		width: 1.2rem;
	}
}
@media only screen and (min-width: 620px) {
	input[type=radio] + label span {
		width: 4rem;
		height: 4.4rem;
		left: 20rem;
		bottom: 14.5rem;
	}
	.f-button {
		width: 3.5rem;
		left: 19rem;
		bottom: 14.5rem;
	}
	.button {
		width: 13rem;
		left: 20rem;
	}
	.des {
		width: 2rem;
		left: 18.6rem;
		margin-left: 2.6rem;
		bottom: 18rem;
	}
	.alpha {
		width: 1.2rem;
	}
}
@media only screen and (min-width: 700px) {
	input[type=radio] + label span {
		width: 4.4rem;
		height: 4.8rem;
		left: 21rem;
		bottom: 16rem;
	}
	.f-button {
		width: 4.3rem;
		bottom: 15.5rem;
	}
	.button {
		width: 14rem;
		left: 21rem;
		bottom: 5.5rem;
		height: 3.5rem;
	}
	.des {
		width: 2.6rem;
		left: 20rem;
		margin-left: 2.4rem;
		bottom: 20.2rem;
	}
	.alpha {
		width: 1.6rem;
	}
}
